@model ManufacturerNavigationModel

@if (Model.Manufacturers.Count > 0)
{
       <div class="ov-r-item">
            <div class="orr-title">FILTERS</div>
             @foreach (var manufacturer in Model.Manufacturers)
                {              
                    <div class="orr-text">  <a class="link-red" href="@Url.RouteUrl("Manufacturer", new { SeName = manufacturer.SeName })">@manufacturer.Name</a></div>              
                }
        </div>
}