<nav class="navbar navbar-expand-lg navbar-light bgcolor3">
        <a class="navbar-brand" href="#" style="margin-left: 9rem;"> 
            <img src="~/Themes/CoreTheme/Content/images/logo.png" height="27px"
                class="d-inline-block"></a>
        @* <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button> *@
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup" >
            <div class="navbar-nav position-absolute " style="right: 0;">
                <a href="#" class="nav-item nav-link ace-link">OUR STORY</a>
                <a href="#" class="nav-item nav-link ace-link">CUSTOMER STORIES</a>
                <a href="#" class="nav-item nav-link ace-link">PRODUCTS</a>
                <a href="#" class="nav-item nav-link ace-link">CART</a>
                <a href="#" class="nav-item nav-link ace-link">LOGIN</a>
                <a href="#" class="nav-item nav-link ace-link">
                    <span class="font_family icon-search-solid"></span>
                </a>
                <a href="#" class="nav-item nav-link">
                    <span class="font_family icon-facebook-square-brands"></span>

                </a>
            </div>
        </div>
    </nav>
