

.mian-box {
    background-color: #EBEBEC;
    padding: 50px 1.4rem 0;
    margin-top: 1.2rem;
    display: flex;
}

.home-top .tip-box {
    font-size: 1.52rem;
    font-family: Avenir Next;
    font-weight: bold;
    line-height: 1.24rem;
    color: rgba(255, 255, 255, 1);
    margin-right: 2.1rem;
    text-align: right;
    width: 4.78rem;
    position: relative;
}
.scroll-box{
    position: absolute;
    left: -.3rem;
    bottom: -2.2rem;
    width: .32rem;
    height: 2.86rem;
}
.scroll-box img{
    width: 100%;
    height: 100%;
}

.bike-swiper {
    overflow: hidden;
    height: 7.5rem;
    position: relative;
}
.main-swi-bg{
    position: absolute;
    width: 100%;
    height: 4.2rem;
    background-color: #FF3B2E;
    top: 1rem;
}
.circle-box{
    margin-top: .76rem;
    padding: 0 1.4rem;
}
.cir-title{
    color: #FF3B2E;
    font-size:.58rem;
    font-family:Avenir Next;
    font-weight:bold;
    line-height:.79rem;
}
.cir-list{
    display: flex;

}
.circle-box .cir-str {
   margin-left: auto;
   font-size:.36rem;
    font-family:Avenir Next;
    font-weight:bold;
    line-height:50px;
    text-align: right;
    color:rgba(255,59,46,1);
}
.cir-item {
    position: relative;
    color: #333;
    padding-bottom: .2rem;
    margin-right: .1rem;
    background-color: #DEDEDE;
}
.cir-item img{
    width: 3.98rem;
    height: 3.98rem;

}

.modal-mask{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .4);
  
}
.cir-item .item-mask{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .4);
    display: none;

}
.cir-item:hover .item-mask{
    display: block;
}
.cir-item .left-icon{
    position: absolute;
    bottom: .05rem;
    left: .18rem;
    z-index: 6;
    font-size: .26rem;
    color: #fff;
    cursor: pointer;
}
.cir-item .right-icon{
    position: absolute;
    bottom: .05rem;
    right: .18rem;
    z-index: 6;
    font-size: .26rem;
    color: #fff;
    cursor: pointer;
}
.cir-item .bot-text{
    position: absolute;
    bottom: .02rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 6;
    font-size: .26rem;
    color: #333;
}
.home-pic-box{
    background-color: #FF3B2E;
    position: relative;
    padding-bottom: 1.5rem;
    
}
.home-pic-box .img-box{
    display: flex;
    flex-wrap: wrap;
}
.home-pic-box .pic-title{
    font-size:.58rem;
    font-family:Avenir Next;
    font-weight:bold;
    line-height:.79rem;
    color:rgba(255,255,255,1);
}

.home-pic-box .img-list{
    width: 5.3rem;
    height: 3.5rem;
    margin-right: .1rem;
    margin-top: .1rem;
}
.home-pic-box .img-list img{
    width: 100%;
    height: 100%;
}
.home-pic-box .img-list:nth-child(3n){
    margin-right: 0;
}
.view-more{
    position: absolute;
    right: 1.48rem;
    bottom: 1rem;
    font-size:.41rem;
    font-family:Avenir Next;
    font-weight:bold;
    line-height:50px;
    color:rgba(255,255,255,1);
}
.latest-box{
    padding: .8rem 1.4rem 0;
    background-color: #EBEBEC;
}
.latest-box .latest-title{
    font-size:.58rem;
    font-family:Avenir Next;
    font-weight:bold;
    line-height:.79rem;
    color: #FF3B2E;
}
.latest-box-list{
    display: flex;
    justify-content: space-around;

}
.latest-box .latest-img{
    width: 100%;
    height: 1.99rem;
}
.latest-box .latest-item{
    margin-right: .15rem;
}
.latest-box .latest-item:last-child{
    margin-right: 0;
}
.latest-box .text-box{
    height: 3.98rem;
    padding: .15rem;
    background-color: #414043;
    color: #fff;

}
.latest-box .text-box .title{
    font-size: .32rem;
}
.latest-box .text-box .text{
    font-size: .2rem;
}
.lates-more{
    text-align: right;
    font-size:.41rem;
    font-family:Avenir Next;
    font-weight:bold;
    line-height:.5rem;

    color:rgba(255,59,46,0.50);
}
.item-mask-text {
    position: absolute;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: .35rem;
    color: #fff;
    font-weight: bold;
}









