span {
    font-family:'Avenir Next';
    font-weight: bold;
  }
  .color1{ background-color: #dedede;}
  .color2{background-color: #ebebec;}
  .color3{background-color: #414043;}
  .color4{background-color: #ff3b2e;}