body {
  font-family: 'Avenir Next' !important;
}

.avenitnext-font {
  font-family: 'Avenir Next';
  font-weight: bold;
}

.bgcolor1 {
  background-color: #dedede;
}

.bgcolor2 {
  background-color: #ebebec;
}

.bgcolor3 {
  background-color: #414043;
}

.bgcolor4 {
  background-color: #ff3b2e;
}

.h96 {
  height: 96px;
}

nav .logo {
  height: 28px;
  width: auto;
  margin: 30px auto 35px 140px;
}

.ace-link {
  font-family: Avenir Next;
  font-size: 1rem;
  font-weight: bold;
  font-stretch: normal;
  line-height: 27px;
  letter-spacing: 0px;
  color: #ebebec !important;
  margin-right: 7rem;
}

.banner-1 {

  padding-top: 8rem;
}

.left-title {
  font-family: Avenir Next;
  font-size: 9rem;
  font-weight: bold;
  letter-spacing: 0rem;
  line-height: 8rem;
}

.red {
  color: #ff3b2e !important;
}

.black {
  color: #414043 !important;
}

.white {
  color: #ffffff !important;
}

.hide {
  display: none;
}

.right-loop-img {

  background: url("../images/banner-bg.png") no-repeat;
}

.right-loop-img ul,
.right-loop-img ul li {
  list-style: none;
  width: 100%;
}

.red-line-18 {

  height: 18rem;
  border-right: solid 0.2rem #ff3b2e;
}

.red-icon-2 {

  border-radius: 0.5rem;
  border: solid 0.1rem #ff3b2e;
}

.product-item {
  background-color: #dedede;
}

.pro-absolute {
  position: absolute;
  bottom: 0.5rem;
  left: 0;
  text-align: center;
  width: 100%;
}

.bg-gray {
  background-color: #969598;
}

.font-size-4 {
  font-size: 4rem;
}

.cate-dl {
  text-align: right;
}

.cate-dt {
  font-size: 2rem;
  font-weight: bold;
}

.cate-dd {}

/* about */
.store-1-div {
  margin: 1rem auto 1rem auto;
  width: 95rem;
  height: 50rem;
  position: relative;
  z-index: 0;
}

.store-1-img {
  width: 59rem;
  position: absolute;
  background-color: chartreuse;
  top: 0;
  left: 0;
  z-index: 1;
}

.store-1-content {
  position: absolute;
  right: 8rem;
  bottom: 0;
  width: 69rem;
  background-color: #ff3b2e;
}

.store-1-star {
  float: left;
  width: 50%;
  padding-top: 36rem;
}

.store-1-text {
  float: left;
  color: #ffffff;
  width: 50%;
}

.store-1-title {
  font-weight: bold;
}

.store-1-body {
  line-height: normal;
}

/* about */