@model ContactUsModel

@{
Layout = "_ColumnsOne";

//title
Html.AddTitleParts(T("PageTitle.ContactUs").Text);
//page class
Html.AppendPageCssClassParts("html-contact-page");
}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-6">
            <h1 class="h1 mb-5">
                ACEBIKES
            </h1>
            <h3 class="h3 mt-3 mb-4">
                ABOUT US
            </h3>
            <div class="">
                <p class="text-justify">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit cumque necessitatibus natus expedita
                    ratione dolorum assumenda consequatur, vel vero eligendi praesentium excepturi eius earum cum eaque
                    adipisci! Incidunt, nobis alias!
                </p>
            </div>
        </div>
        <div class="col-lg-6">
            <img class="img-fluid" src="~/Themes/CoreTheme/Content/images/images(1).png" alt="">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <img class="img-fluid" src="~/Themes/CoreTheme/Content/images/images(1).png" alt="">
        </div>
        <div class="col-lg-6">
            <h1 class="h1 mb-5">
                ACEBIKES
            </h1>
            <h3 class="h3 mt-3 mb-4">
                ABOUT US
            </h3>
            <div class="">
                <p class="text-justify">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit cumque necessitatibus natus expedita
                    ratione dolorum assumenda consequatur, vel vero eligendi praesentium excepturi eius earum cum eaque
                    adipisci! Incidunt, nobis alias!
                </p>
            </div>
        </div>

    </div>
</div>