@model HomepageNewsItemsModel

@if (Model.NewsItems.Count > 0)
{
     <div class="latest-box">
    <div class="latest-title">LATEST NEWS</div>
    <div class="latest-box-list">
     @foreach (var item in Model.NewsItems)
            {
      <div class="latest-item">
        <img class="latest-img" src="~/Themes/CoreTheme/Content/images/maxresdefault-1.png" alt="">
        <div class="text-box">
          <div class="title"> <a  class="link-white" href="@Url.RouteUrl("NewsItem", new { SeName = item.SeName })">@item.Title</a></div>
          <div class="text">  
            @Html.Raw(item.Short)
                    </div>
        </div>
      </div>
            }
    </div>
    <div class="lates-more"> <a href="@Url.RouteUrl("News")" style="color: rgba(255,59,46,0.50);"> VIEW MORE</a></div>
  </div>
}