@model OrderTotalsModel

  <div class="ca-detail mt40">
                    <div class="ca-detail-item">subtotaal <span class="pull-right">@Model.SubTotal</span></div>
                    <div class="ca-detail-item">shipping costs <span class="pull-right"> @Model.Shipping</span></div>
                    <div class="ca-detail-item">discount code <span class="pull-right">- @Model.OrderTotalDiscount</span></div>
                    <div class="ca-detail-item"><span class="color-red font-bold">price </span><span class="color-red font-text-sm">(incl btw)</span> <span class="pull-right color-red font-bold">@Model.OrderTotal</span></div>
                </div>