@{
Layout = "_ColumnsOne";

//page class
Html.AppendPageCssClassParts("html-home-page");
Html.AppendScriptParts(ResourceLocation.Footer, "~/Themes/CoreTheme/Content/js/index.js");
}
  <div class="mian-box">
    <div class="home-top">
      <div class="tip-box">
        <div><span class="text-red">A</span><span class="text-black">CE</span></div>
        <div class="text-black">YOUR</div>
        <div class="text-black">RIDE</div>
        <div>ACE</div>
        <div>BIKE</div>
        <div class="scroll-box"><img   src="~/Themes/CoreTheme/Content/images/scroll-bar.png"/></div>
      </div>
      
    </div>

    <!-- 轮播图 -->
    <div class="swiper-container bike-swiper">
      <div class="swiper-wrapper">
          <div class="swiper-slide" ><img   src="~/Themes/CoreTheme/Content/images/banner-1.png"/></div>
          <div class="swiper-slide" ><img   src="~/Themes/CoreTheme/Content/images/banner-2.png"/></div>
          <div class="swiper-slide" ><img   src="~/Themes/CoreTheme/Content/images/banner-3.png"/></div>
          <div class="swiper-slide" ><img   src="~/Themes/CoreTheme/Content/images/banner-4.png"/></div>
      </div>
      <div class="main-swi-bg"></div>
  </div>
  

  </div>
 
@await Component.InvokeAsync("HomepageProducts")
  <div class="home-pic-box pd140">
    <div class="pic-title">COSTUMER STORIES</div>
    <div class="img-box">
      <div class="img-list">
        <img src="~/Themes/CoreTheme/Content/images/william-hook-pa-1.png" alt="">
      </div>
      <div class="img-list">
        <img src="~/Themes/CoreTheme/Content/images/william-hook-pa-2.png" alt="">
      </div>
      <div class="img-list">
        <img src="~/Themes/CoreTheme/Content/images/william-hook-pa-1.png" alt="">
      </div>
      <div class="img-list">
        <img src="~/Themes/CoreTheme/Content/images/william-hook-pa-1.png" alt="">
      </div>
      <div class="img-list">
        <img src="~/Themes/CoreTheme/Content/images/william-hook-pa-1.png" alt="">
      </div>
      <div class="img-list">
        <img src="~/Themes/CoreTheme/Content/images/william-hook-pa-1.png" alt="">
      </div>
      <div class="view-more"> <a href="@Url.RouteUrl("Blog")" class="link-white"> VIEW MORE</a></div>
    </div>
    
  </div>
@await Component.InvokeAsync("Widget", new { widgetZone = PublicWidgetZones.HomepageBeforeNews })
@await Component.InvokeAsync("HomepageNews")

 <div class=" clearfix"><img id="gotop" class="back-top pull-right" src="~/Themes/CoreTheme/Content/images/backtop.png" alt=""></div>
