@{
Layout = "_ColumnsOne";

//page class
Html.AppendPageCssClassParts("html-home-page");
}

<div class=" banner-1 row">
    <div class="left-title col-lg-4">
        <div class="text-right">
            <span class="red">A</span><span class="black">CE</span> <br />
            <span class="black">YOUR</span> <br />
            <span class="black">RIDE</span> <br />
            <span class="white">ACE</span> <br />
            <span class="white">BIKE</span> <br />
        </div>
    </div>
    <div class="right-loop-img col-lg-7 offset-1 p-0">
        <ul class="list-group">
            <li class="list-inline-item"><img src="~/Themes/CoreTheme/Content/images/banner-1.png" class="img-fluid">
            </li>
            <li class="hide"><img src="~/Themes/CoreTheme/Content/images/banner-3.png" class="img-fluid"></li>
            <li class="hide"><img src="~/Themes/CoreTheme/Content/images/banner-2.png" class="img-fluid"></li>
            <li class="hide"><img src="~/Themes/CoreTheme/Content/images/banner-1.png" class="img-fluid"></li>
        </ul>
    </div>
</div>

<div class="row position-relative" style="margin-top:-7.5rem;">
    <img src="~/Themes/CoreTheme/Content/images/scroll.png" class="img-fluid"
        style="height: 12rem;position: relative;left: 10rem;top: 0rem;">
</div>

@await Component.InvokeAsync("HomepageProducts")

<div class="container bgcolor4 cost_umer_store">
    <div class="col-lg-12 white">
        <h1><strong>COST UMER STORIES </strong></h1>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="ml-n15p pb-3">
                <a href="#">
                    <img class="card-img" src="~/Themes/CoreTheme/Content/images/carter-moorse-k-1.png" alt="">
                </a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ml-n15p  pb-3">
                <a href="#"><img class="card-img" src="~/Themes/CoreTheme/Content/images//daniel-frank-wPKb-1.png"
                        alt=""></a></div>
        </div>
        <div class="col-lg-4">
            <div class="ml-n15p  pb-3">
                <a href="#"><img class="card-img"
                        src="~/Themes/CoreTheme/Content/images//daniel-frank-wPKb8AlmNsU-unsplash.png" alt=""></a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ml-n15p  pb-3">
                <a href="#"><img class="card-img"
                        src="~/Themes/CoreTheme/Content/images/david-hellmann-06ItjjY7ajU-unsplash.png" alt=""></a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ml-n15p  pb-3">
                <a href="#"><img class="card-img" src="~/Themes/CoreTheme/Content/images/david-hellmann-1.png"
                        alt=""></a>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ml-n15p  pb-3">
                <a href="#">
                    <img class="card-img" src="~/Themes/CoreTheme/Content/images//paul-green-gOHfFgwyDNM-unsplash.png "
                        alt="">
                </a>
            </div>
        </div>
        <div class="col-lg-12 text-right">
            <a href="#" class="white avenitnext-font">view more</a>
        </div>
    </div>
</div>
<div class="container pl-4_5 pr-4_5 mt-5" >
    <div class="col-lg-12 red">
        <h1><strong>LATEST NEWS</strong></h1>
    </div>
    <div class="row white">
        <div class="col-lg-3 pl-0">
            <div class="card">
                <a href="#"> <img class="card-img-top" src="~/Themes/CoreTheme/Content/images/maxresdefault-1.png"
                        alt=""></a>
                <div class="card-body bgcolor3">
                    <h5 class="card-title"> Lorem ipsum dolor sit amet</h5>
                    <p class="card-text">
                        consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                        magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                        rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                        invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                        et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
                        Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 pl-0">
            <div class="card">
                <a href="#"> <img class="card-img-top" src="~/Themes/CoreTheme/Content/images/maxresdefault-1.png"
                        alt=""></a>
                <div class="card-body bgcolor3">
                    <h5 class="card-title"> Lorem ipsum dolor sit amet</h5>
                    <p class="card-text">
                        consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                        magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                        rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                        invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                        et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
                        Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
                    </p>
                </div>
            </div>
        </div>
          <div class="col-lg-3 pl-0">
            <div class="card">
                <a href="#"> <img class="card-img-top" src="~/Themes/CoreTheme/Content/images/maxresdefault-1.png"
                        alt=""></a>
                <div class="card-body bgcolor3">
                    <h5 class="card-title"> Lorem ipsum dolor sit amet</h5>
                    <p class="card-text">
                        consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                        magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                        rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                        invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                        et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
                        Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
                    </p>
                </div>
            </div>
        </div>
          <div class="col-lg-3 pl-0">
            <div class="card">
                <a href="#"> <img class="card-img-top" src="~/Themes/CoreTheme/Content/images/maxresdefault-1.png"
                        alt=""></a>
                <div class="card-body bgcolor3">
                    <h5 class="card-title"> Lorem ipsum dolor sit amet</h5>
                    <p class="card-text">
                        consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
                        magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea
                        rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                        invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
                        et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
                        Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-12 text-right">
            <a href="#" class="red avenitnext-font">view more</a>
        </div>

    </div>


</div>

<div class="container position-relative" style="height: 10rem;">
    <div class="position-absolute" style="right: 6rem;top: 3rem;">
        <img src="/Themes/CoreTheme/Content/images/backtop.png" alt="" style="height: 7rem;" class="img-fluid">
    </div>
</div>