@model EstimateShippingModel

    <div class="or-account mt20">
        <div class="font-text font-bold">INVOICE ADDRESS</div>
        <input class="input-box mt20" placeholder="NAME"/>
        <input class="input-box" placeholder="SURNAME"/>
        <input class="input-box" placeholder="E-MAILADRESS"/>
        <input class="input-box" placeholder="COUNTRY"/>
        <input class="input-box" placeholder="NAME CITY"/>
        <input class="input-box" placeholder="STREET NAME"/>
        <input class="input-box" placeholder="ADRESS"/>
        <div class="account-checkbox" style="padding-bottom: .1rem"><input type="checkbox" name="btn1"> 
        <label  for="btn1" class="ml05 font-normal">delivery on the same address</label></div>
    </div>

    <div class="or-account mt20 " id="other_address" style="position: absolute;z-index: 2;display: none;">
        <div class="font-text font-bold">DELIVERY ADDRESS</div>
        <input class="input-box mt20" placeholder="NAME"/>
        <input class="input-box" placeholder="SURNAME"/>
        <input class="input-box" placeholder="E-MAILADRESS"/>
        <input class="input-box" placeholder="COUNTRY"/>
        <input class="input-box" placeholder="NAME CITY"/>
        <input class="input-box" placeholder="ADRESS"/>

    </div>


<script type="text/javascript" asp-location="Footer">
    $(document).ready(function () {
        $('#estimate-shipping-button').on('click', function () {
            displayAjaxLoading(true);
            $.ajax({
                cache: false,
                type: "POST",
                url: "@(Url.RouteUrl("EstimateShipping"))",
                data: $("#shopping-cart-form").serialize(),
                success: function(data) {
                    displayAjaxLoading();
                    $('.estimate-shipping-result').html(data);
                },
                error: function(xhr, ajaxOptions, thrownError) {
                    displayAjaxLoading();
                    alert('Failed to retrieve estimate shipping.');
                }
            });
        });
        $("#@Html.IdFor(model => model.ZipPostalCode)").on("keydown", function (event) {
            if (event.keyCode == 13) {
                $("#estimate-shipping-button").trigger("click");
                return false;
            }
        });
    });
</script>