@model NewsletterBoxModel

<div class="f-border">
    <input asp-for="NewsletterEmail" id="newsletter-email" class="newsletter-subscribe-text" placeholder=@T("Newsletter.Email.Placeholder") aria-label="@T("Newsletter.Subscribe")"/>
<input type="button" value="@T(Model.AllowToUnsubscribe ? "Newsletter.Options.Send" : "Newsletter.Options.Subscribe")" id="newsletter-subscribe-button" class="hidden"/>
</div>


<script asp-location="Footer">
    function newsletter_subscribe(subscribe) {
        
        var postData = {
            subscribe: subscribe,
            email: $("#newsletter-email").val()
        };
        $.ajax({
            cache: false,
            type: "POST",
            url: "@(Url.RouteUrl("SubscribeNewsletter"))",
            data: postData,
            success: function (data, textStatus, jqXHR) {
                
                if (data.Success) {
                    $('#newsletter-email').val('');
                   alert('success to subscribe.');
                } else {
                  alert('Failed to subscribe.');
                }
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert('Failed to subscribe.');
            },
            complete: function (jqXHR, textStatus) {
               
            }
        });
    }
        $(document).ready(function () {
            $('#newsletter-subscribe-button').on('click', function () {
            @if (Model.AllowToUnsubscribe)
            {
                <text>if ($('#newsletter_subscribe').is(':checked')) {
                    newsletter_subscribe('true');
                } else {
                    newsletter_subscribe('false');
                }</text>
            }
            else
            {
                <text>newsletter_subscribe('true');</text>
            }
        });
        $("#newsletter-email").on("keydown", function (event) {
            if (event.keyCode == 13) {
                $("#newsletter-subscribe-button").trigger("click");
                return false;
            }
        });
    });
</script>

