@model IList<ProductOverviewModel>
@if (Model.Count > 0)
{

     <div class="circle-box clearfix">
    <div class="cir-title">FRESH AND FAST</div>
    <div class="cir-list">
     @foreach (var item in Model)
            {
         @await Html.PartialAsync("_ProductBox", item)
            }
    </div>

    <div class="cir-str"><a href="" style="color: rgba(255,59,46,1);" > VIEW ALL OUR PRODUCTS </a></div>

  </div>

}