@model FooterModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@inject IWorkContext workContext;

  <footer style="background-color: #ff3b2e;">
        <div class="container">
            <div class="row">
                <div class="col-lg-4"><a href="">1</a></div>
                <div class="col-lg-4"><a href="">2</a></div>
                <div class="col-lg-4"><a href="">3</a></div>
            </div>
            <div class="row">
                <div class="col-lg-2">
                    <dl>
                        <dt>ACEBIKE</dt>
                        <dd>OUR STORY</dd>
                        <dd>MATETIAL</dd>
                        <dd>TECHNOLOGY</dd>
                        <dd>JOIN US</dd>
                        <dd>CONTACT</dd>
                    </dl>
                </div>
                <div class="col-lg-2">
                    <dl>
                        <dt><PRODUCTS/dt>
                        <dd>ROAD</dd>
                        <dd>OFF ROAD</dd>
                        <dd>MTB</dd>
                        <dd>COMPONENTS</dd>
                        <dd>SHIMANO</dd>
                        <dd>APPERAL</dd>
                    </dl>
                </div>
                <div class="col-lg-2">
                    <dl>
                        <dt>SUPPORT</dt>
                        <dd>FQAS</dd>
                        <dd>RIM ARCHIVE</dd>
                        <dd>SPOKE CHART</dd>
                        <dd>MAINTENANCE</dd>
                        <dd>WARRANTY</dd>
                        <dd>CRASH REPLACEMENT</dd>
                        <dd>PAYMENT & DELIVERY</dd>
                    </dl>
                </div>
                <div class="col-lg-2">
                    <dl>
                        <dt>
                            POLICY
                        </dt>
                        <dd>RETURNS & REFUND</dd>
                        <dd>SGIPMENT</dd>
                        <dd>TAXES</dd>
                        <dd>PRIVACY</dd>
                        <dd>COOKIES</dd>
                    </dl>
                </div>
                <div class="col-lg-2">
                    <dl>
                        <dt>NEWS LETTER</dt>
                        <dd>sign in for al te latest and </dd>
                        <dd>greatest from acebikes</dd>
                        <dd><div style="border:solid 0.3rem #ebebec">emailaddress</div></dd>
                        <dd></dd>
                        <dd></dd>
                    </dl>
                </div>
            </div>
        </div>
    </footer>