@model FooterModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@inject IWorkContext workContext;



<!--底部-->
<div class="footer">
    <!-- <div class=" clearfix"><img id="gotop" class="back-top pull-right" src="~/Themes/CoreTheme/Content/images/backtop.png" alt=""></div> -->

    <div class="footer-box">
        <div class="t-box">
            <div class="t-item"><span class="icon font_family">&#xe603;</span><span class="t-text">Ace bikes</span>
            </div>
            <div class="t-item"><span class="icon font_family">&#xe608;</span><span class="t-text">acebikes</span>
            </div>
            <div class="t-item"><span class="icon font_family">&#xe60b;</span><span class="t-text">Acebikes</span></div>
        </div>


        <div class="footer-list">
            <!--    第一列-->
            <div class="footer-item">
                <div class="f-text">ACEBIKE</div>
                <div> OUR STORY</div>
                <div>MATERIAL</div>
                <div>TECHNOLOGY</div>
                <div>JOIN US</div>
                <div> CONTACT</div>
            </div>


            <!--    第二列-->
            <div class="footer-item">
                <div class="f-text"> PRODUCTS</div>
                <div> ROAD</div>
                <div>OFF ROAD</div>
                <div> MTB</div>
                <div> COMPONENTS</div>
                <div> SHIMANO</div>
                <div> APPERAL</div>
            </div>

            <!--  第三列-->
            <div class="footer-item">
                <div class="f-text">SUPPORT</div>
                <div>FQAs</div>
                <div>RIM ARCHIVE</div>
                <div>SPOKE CHART</div>
                <div> MAINTENANCE</div>
                <div>WARRANTY</div>
                <div>CRASH REPLACEMENT</div>
                <div>PAYMENT & DELIVERY</div>
            </div>

            <!--  第四列-->
            <div class="footer-item">
                <div class="f-text">POLICY</div>
                <div> RETURNS & REFUND</div>
                <div>SHIPMENT</div>
                <div>TAXES</div>
                <div>PRIVACY</div>
                <div>COOKIES</div>

            </div>


            <!--  第五列-->
            <div class="footer-item">
                <div class="f-text">NEWS LETTER </div>
                <div> sign in for al te latest</div>
                <div> and greatest from acebikes</div>
                <div class="f-border">E-mailadress</div>

            </div>
        </div>
    </div>
</div>