@model FooterModel
@using Nop.Core
@using Nop.Core.Domain.Tax
@inject IWorkContext workContext;

  <footer style="background-color: #ff3b2e;">
        <div class="container white">
            <div class="row mt-3">
                <div class="col-lg-2 offset-3"><a href="" class="white">Ace bikes</a></div>
                <div class="col-lg-2"><a href="" class="white">acebikes</a></div>
                <div class="col-lg-2"><a href="" class="white">ACEBIKES</a></div>
            </div>
            <div class="row mt-3">
                <div class="col-lg-2">
                    <dl class="footer-card">
                        <dt class="footer-title">ACEBIKE</dt>
                        <dd class="footer-text">OUR STORY</dd>
                        <dd class="footer-text">MATETIAL</dd>
                        <dd class="footer-text">TECHNOLOGY</dd>
                        <dd class="footer-text">JOIN US</dd>
                        <dd class="footer-text">CONTACT</dd>
                    </dl>
                </div>
                <div class="col-lg-2">
                    <dl class="footer-card">
                        <dt class="footer-title">PRODUCTS</dt>
                        <dd class="footer-text">ROAD</dd>
                        <dd class="footer-text">OFF ROAD</dd>
                        <dd class="footer-text">MTB</dd>
                        <dd class="footer-text">COMPONENTS</dd>
                        <dd class="footer-text">SHIMANO</dd>
                        <dd class="footer-text">APPERAL</dd>
                    </dl>
                </div>
                <div class="col-lg-2">
                    <dl class="footer-card">
                        <dt class="footer-title">SUPPORT</dt>
                        <dd class="footer-text">FQAS</dd>
                        <dd class="footer-text">RIM ARCHIVE</dd>
                        <dd class="footer-text">SPOKE CHART</dd>
                        <dd class="footer-text">MAINTENANCE</dd>
                        <dd class="footer-text">WARRANTY</dd>
                        <dd class="footer-text">CRASH REPLACEMENT</dd>
                        <dd class="footer-text">PAYMENT & DELIVERY</dd>
                    </dl>
                </div>
                <div class="col-lg-2">
                    <dl class="footer-card">
                        <dt class="footer-title">
                            POLICY
                        </dt>
                        <dd class="footer-text">RETURNS & REFUND</dd>
                        <dd class="footer-text">SGIPMENT</dd>
                        <dd class="footer-text">TAXES</dd>
                        <dd class="footer-text">PRIVACY</dd>
                        <dd class="footer-text">COOKIES</dd>
                    </dl>
                </div>
                <div class="col-lg-2">
                    <dl class="footer-card">
                        <dt class="footer-title">NEWS LETTER</dt>
                        <dd class="footer-text">sign in for al te latest and </dd>
                        <dd class="footer-text">greatest from acebikes</dd>
                        <dd class="footer-text"><div style="border:solid 0.3rem #ebebec">emailaddress</div></dd>
                        <dd class="footer-text"></dd>
                        <dd class="footer-text"></dd>
                    </dl>
                </div>
            </div>
        </div>
    </footer>